<footer>
    <div class="footer-container">
        <div class="footer-content-container">
            <div class="website-logo text-center">
                <img class="min" src="{{ url_for('static', filename='img/min.png') }}" width="430px" height="110px"> <br>
           </div>
        </div>
        <div class="footer-menus">
            <div class="footer-content-container">
                <span class="menu-title">Contactos</span>
                <a href="#" class="menu-item-footer">
                    <i class="fab fa-whatsapp ic"></i>
                   000-000-00
                </a>
                <a href="#" class="menu-item-footer">
                    <i class="fab fa-whatsapp ic"></i>
                   000-000-00
                </a>
                <a href="#" class="menu-item-footer">
                    <i class="far fa-envelope ic"></i>        
                    000-000-00
                </a>
            </div>
            <div class="footer-content-container">
                <span class="menu-title mid">D G A C</span>
                <a href="#" class="menu-item-footer">Sistema de Repositorio <br> de Reportes Realizados</a>
                <a href="#" class="menu-item-footer">MRE-DGAC-SRRR</a>
            </div>
        </div>
        
        <div class="footer-content-container">
            <span class="menu-title">Dev</span>
            <a href="#" class="menu-item-footer">Gabriel OMC</a>
            <a href="#" class="menu-item-footer">
                <i class="fab fa-whatsapp ic"></i>
               78819752
            </a>
            <a href="#" class="menu-item-footer">
                <i class="far fa-envelope ic"></i>        
                gs59679@gmail.com
            </a>
        </div>
    </div>
    <div class="copyright-container">
        <span class="copyright">Copyright 2024, MRE-DGAC - Todos los Derechos Reservados</span>
    </div>
</footer>