<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://upload.wikimedia.org/wikipedia/commons/b/b6/Escudo_de_Bolivia.svg" type="image/x-icon">
    <title>Registro de Tramites</title>
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/caja_admin.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/subir.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fot1.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/nprogress/0.2.0/nprogress.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.1/dist/sweetalert2.all.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.1/dist/sweetalert2.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script> 
</head>
<body>
    <div class="sidebare">
        <div class="logo_content">
            <div class="logo">
                <div class="logo_name titulo-principal">D G A C</div>
            </div>
            <i class='bx bx-menu is' id='btne'></i>
        </div>
        <style>
            .logo_name.titulo-principal {
                color: yellow;
            }
        </style>

        <ul class="nave">
            <li class="lis">
                <a class="as" href="#">
                    <i class='bx bx-user-circle is' ></i>
                    <span class="nombre">Direccion de Asuntos Consulares</span>
                </a>
                <span class="tooltip"></span>
            </li>
            <li class="lis">
                <a class="as" href="#">
                    <i class='bx bx-folder-open is' ></i>
                    <span class="link_names">Registro de tramites</span>
                </a>
                <span class="tooltip">Inscripciones</span>
            </li>
            <li class="lis">
                <a class="as" href="/vista_consular">
                    <i class='bx bx-calendar-event is' ></i>
                    <span class="link_names">Busqueda de Tramites</span>
                </a>
                <span class="tooltip">Certificaciones</span>
            </li>
            
            <li class="lis">
                <a class="as" href="/top_10">
                    <i class='bx bx-user-check is' ></i>
                    <span class="link_names">Generador de Tramites TOP 10</span>
                </a>
                <span class="tooltip">Generador </span>
            </li>
            <li class="lis">
                <a class="as" href="#">
                    <i class='bx bxs-first-aid is' ></i>
                    <span class="link_names">Tramites Realizados</span>
                </a>
                <span class="tooltip">Historial</span>
            </li>
            <li class="lis">
                <a class="as" href="/cerrar-sesion">
                    <i class='bx bxs-first-aid is' ></i>
                    <span class="link_names">Salir</span>
                </a>
                <span class="tooltip">Salir</span>
            </li>
        </ul>
    </div>
   
    <div class="home_content">
        <div class="text">Sistema de Tramites Consulares</div><br>

        <!----------campo de datos----------->
        <h1 class="text-center titulo-principal">REGISTRO DE TRAMITES REALIZADOS</h1>
<div class="container table-responsive">
    <div class="alert alert-success text-center mx-auto mt-3 mb-0 small">
        <h7>Selecciona el <b>PAIS y OFICINA CONSULAR</b> para agregar <b>Registros</b></h7>
    </div>
        <img src="{{ url_for('static', filename='img/ministerio.png') }}" width="310px" height="80px">
        
<form class="row g-4 mt-1 mb-3" action="/registro-crear" method="post" enctype="multipart/form-data">
  <div class="col-md-3">
    <label for="inputState" class="form-label"><b>PAIS</b></label>
    <select id="inputState" class="form-select" name="txtPais" onchange="actualizarDepartamentos()" required>
        <option  selected value="TODOS">TODOS</option>
        <option value="ALEMANIA">ALEMANIA</option>
        <option value="ARGENTINA">ARGENTINA</option>
        <option value="AUSTRALIA">AUSTRALIA</option>
        <option value="AUSTRIA">AUSTRIA</option>
        <option value="BELGICA">BELGICA</option>
        <option value="BRASIL">BRASIL</option>
        <option value="CANADA">CANADA</option>
        <option value="CHILE">CHILE</option>
        <option value="CHINA">CHINA</option>
        <option value="COLOMBIA">COLOMBIA</option>
        <option value="COSTA RICA">COSTA RICA</option>
        <option value="CUBA">CUBA</option>
        <option value="ECUADOR">ECUADOR</option>
        <option value="EGIPTO">EGIPTO</option>
        <option value="ESPAÑA">ESPAÑA</option>
        <option value="ESTADOS UNIDOS">ESTADOS UNIDOS</option>
        <option value="FRANCIA">FRANCIA</option>
        <option value="INDIA">INDIA</option>
        <option value="IRAN">IRAN</option>
        <option value="ITALIA">ITALIA</option>
        <option value="JAPON">JAPON</option>
        <option value="LIBANO">LIBANO</option>
        <option value="MEXICO">MEXICO</option>
        <option value="PAISES BAJOS">PAISES BAJOS</option>
        <option value="PANAMA">PANAMA</option>
        <option value="PARAGUAY">PARAGUAY</option>
        <option value="PERU">PERU</option>
        <option value="PUERTO RICO">PUERTO RICO</option>
        <option value="REINO UNIDO DE GRAN BRETAÑA E IRLANDA DEL NORTE">REINO UNIDO DE GRAN BRETAÑA E IRLANDA DEL NORTE</option>
        <option value="REPUBLICA DE COREA">REPUBLICA DE COREA</option>
        <option value="REPUBLICA DOMINICANA">REPUBLICA DOMINICANA</option>
        <option value="RUSIA">RUSIA</option>
        <option value="SUECIA">SUECIA</option>
        <option value="SUIZA">SUIZA</option>
        <option value="TURKIYE">TURKIYE</option>
        <option value="URUGUAY">URUGUAY</option>
        <option value="VENEZUELA">VENEZUELA</option>
      <!-- Agrega más opciones según tus semestres -->
    </select><br>
  </div>
  
  <div class="col-md-7">
    <label for="inputState" class="form-label"><b>Oficina Consular</b></label>
    <select id="departamentos" class="form-select" name="txtOficina"required> 
    <option selected>TODOS</option>
    </select> <br>
    <!--------------------------ARCHIVO A SUBIR--> 
</div>
<div class="col-md-2">
    <label for="inputState" class="form-label"><b>Gestion</b></label>
    <select id="departamentos" class="form-select" name="txtGestiones"required> 
    <option selected value="8">2024</option>
    <option value="7">2023</option>
    <option value="6">2022</option>
    <option value="5">2021</option>
    <option value="4">2020</option>
    <option value="3">2019</option>
    <option value="2">2018</option>
    <option value="1">2017</option>
    </select> <br>
    <!--------------------------ARCHIVO A SUBIR--> 
</div>
<div class="wrappera" id="file-container">
    <b>DETALLE</b>
    <div class="forma">
        <input class="file-input" type="file" name="txtDetalle" accept=".xlsx" id="file-input" required>
        <i class="fas fa-cloud-upload-alt"></i>
        <p id="selected-file">Selecciona oarrastra un archivo</p>
    </div>
</div>

<div class="wrappera"id="file-container2">
    <b>TOP 10</b>
    <div class="forma">
        <input class="file-input" type="file" name="txtTop_10" accept=".xlsx" id="file-input2">
        <i class="fas fa-cloud-upload-alt"></i>
        <p id="selected-file2">Selecciona o arrastra un archivo</p>
    </div>
</div>

<div class="wrappera"id="file-container3">
    <b>GESTIONES</b>
    <div class="forma">
        <input class="file-input" type="file" name="txtGestion" accept=".xlsx" id="file-input3">
        <i class="fas fa-cloud-upload-alt"></i>
        <p id="selected-file3">Selecciona o arrastra un archivo</p>
    </div>
</div>
<div class="wrappera"id="file-container4">
    <b>REPORTE GENERAL</b>
    <div class="forma">
        <input class="file-input" type="file" name="txtGeneral" accept=".xlsx" id="file-input4">
        <i class="fas fa-cloud-upload-alt"></i>
        <p id="selected-file4">Selecciona o arrastra un archivo</p>
    </div>
</div>
<!-------------FILE--------->

<div class="col-12 text-center mt-1">
    <button type="submit" class="button">
        <span class="button-content">Registrar</span>
      </button> 
  </div>
 
    <div class="isquiera">
  <a type="submit" class="buttone type1 isquiera"href="/registro_tramites">
</a>
</div>
<style>
    .isquiera{
        left: 80%;
    }
</style>
</div>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<!------------------FILE FIN-->

</form>
 
<!--------------BUSQUEDA REALIZADA----------------->
<!-------------------------------------->
{% if mensaje2 %}
  <script>
    Swal.fire({
      title: '{{ mensaje2 }}',
      icon: 'success',
    });
  </script>
{% endif %}

{% if mensaje_error %}
  <script>
    Swal.fire({
      title: '{{ mensaje_error }}',
      icon: 'error',
    });
  </script>
{% endif %}

{% if mensaje_duplicado %}
<script>
    Swal.fire({
        title: 'Error de Registro',
        text: "{{mensaje_duplicado}}",
        icon: 'error',
      });
</script>
{%endif%}
<!-------DESCARGA DE ARCHIVOS----------------------------------------->
<!-- ... (Tu código existente) ... -->
<!---FINAL DE CONTENIDO------>
</div>
<br><br>
        </div> 
<script>
    let btn = document.querySelector('#btne');
    let sidebar = document.querySelector('.sidebare');
    let srcBtn = document.querySelector('.bx-search');

    function toggleSidebar() {
        sidebar.classList.toggle('active');
    }

    // Abre el menú por defecto en escritorio
    window.addEventListener('load', function() {
        if (window.innerWidth > 768) {
            sidebar.classList.add('active');
        }
    });

    btn.onclick = toggleSidebar;
    srcBtn.onclick = toggleSidebar;

    // Cierra el menú en dispositivos móviles por defecto
    window.addEventListener('resize', function() {
        if (window.innerWidth <= 768) {
            sidebar.classList.remove('active');
        } else {
            // Si el tamaño de la pantalla es mayor que 768px, abre el menú
            sidebar.classList.add('active');
        }
    });
</script>

<!----MENSAJE DE INICIO DE SESSION EXITOSO-->
<script src="
https://cdn.jsdelivr.net/npm/sweetalert2@11.10.1/dist/sweetalert2.all.min.js
"></script>

<!----CONSULADOS ------>
<script>
    function actualizarDepartamentos() {
        var paisSeleccionado = document.getElementById("inputState").value;
        var departamentosSelect = document.getElementById("departamentos");

        // Limpiar las opciones anteriores
        departamentosSelect.innerHTML = "";

        switch (paisSeleccionado) {
            case "ALEMANIA":
                // Agregar opciones para Alemania
                agregarOpcion(departamentosSelect, "TODOS", "TODOS");
                agregarOpcion(departamentosSelect, "CONSULADO HONORARIO DE BOLIVIA EN ALEMANIA, FRANKFURT", "CONSULADO HONORARIO DE BOLIVIA EN ALEMANIA, FRANKFURT");
                agregarOpcion(departamentosSelect, "CONSULADO HONORARIO DE BOLIVIA EN ALEMANIA, HAMBURGO", "CONSULADO HONORARIO DE BOLIVIA EN ALEMANIA, HAMBURGO");
                agregarOpcion(departamentosSelect, "CONSULADO HONORARIO DE BOLIVIA EN ALEMANIA, MUNICH", "CONSULADO HONORARIO DE BOLIVIA EN ALEMANIA, MUNICH");
                agregarOpcion(departamentosSelect, "CONSULADO HONORARIO DE BOLIVIA EN ALEMANIA, BERLIN", "CONSULADO HONORARIO DE BOLIVIA EN ALEMANIA, BERLIN");
                // Agregar más opciones según tus necesidades para Alemania
                break;

            case "ARGENTINA":
                // Agregar opciones para Argentina
                agregarOpcion(departamentosSelect, "TODOS", "TODOS");
                agregarOpcion(departamentosSelect, "CONSULADO DE BOLIVIA EN ARGENTINA, COMODORO RIVADAVIA", "CONSULADO DE BOLIVIA EN ARGENTINA, COMODORO RIVADAVIA");
                agregarOpcion(departamentosSelect, "CONSULADO DE BOLIVIA EN ARGENTINA, CORDOBA", "CONSULADO DE BOLIVIA EN ARGENTINA, CORDOBA");
                agregarOpcion(departamentosSelect, "CONSULADO DE BOLIVIA EN ARGENTINA, JUJUY", "CONSULADO DE BOLIVIA EN ARGENTINA, JUJUY");
                agregarOpcion(departamentosSelect, "CONSULADO DE BOLIVIA EN ARGENTINA, LA QUIACA", "CONSULADO DE BOLIVIA EN ARGENTINA, LA QUIACA");
                agregarOpcion(departamentosSelect, "CONSULADO DE BOLIVIA EN ARGENTINA, MENDOZA", "CONSULADO DE BOLIVIA EN ARGENTINA, MENDOZA");
                agregarOpcion(departamentosSelect, "CONSULADO DE BOLIVIA EN ARGENTINA, ORAN", "CONSULADO DE BOLIVIA EN ARGENTINA, ORAN");
                agregarOpcion(departamentosSelect, "CONSULADO DE BOLIVIA EN ARGENTINA, POCITOS - SALVADOR MAZZA", "CONSULADO DE BOLIVIA EN ARGENTINA, POCITOS - SALVADOR MAZZA");
                agregarOpcion(departamentosSelect, "CONSULADO DE BOLIVIA EN ARGENTINA, ROSARIO", "CONSULADO DE BOLIVIA EN ARGENTINA, ROSARIO");
                agregarOpcion(departamentosSelect, "CONSULADO DE BOLIVIA EN ARGENTINA, SALTA", "CONSULADO DE BOLIVIA EN ARGENTINA, SALTA");
                agregarOpcion(departamentosSelect, "CONSULADO DE BOLIVIA EN ARGENTINA, VIEDMA", "CONSULADO DE BOLIVIA EN ARGENTINA, VIEDMA");
                agregarOpcion(departamentosSelect, "CONSULADO GENERAL DE BOLIVIA EN ARGENTINA, BUENOS AIRES", "CONSULADO GENERAL DE BOLIVIA EN ARGENTINA, BUENOS AIRES");
                agregarOpcion(departamentosSelect, "VICECONSULADO DE BOLIVIA EN ARGENTINA, LA MATANZA", "VICECONSULADO DE BOLIVIA EN ARGENTINA, LA MATANZA");
                agregarOpcion(departamentosSelect, "VICECONSULADO DE BOLIVIA EN ARGENTINA, LA PLATA", "VICECONSULADO DE BOLIVIA EN ARGENTINA, LA PLATA");
                agregarOpcion(departamentosSelect, "VICECONSULADO DE BOLIVIA EN ARGENTINA, PILAR", "VICECONSULADO DE BOLIVIA EN ARGENTINA, PILAR");
                // Agregar más opciones según tus necesidades para Argentina
                break;

            case "AUSTRALIA":
                // Agregar opciones para Australia
                agregarOpcion(departamentosSelect, "TODOS", "TODOS");
                // Agregar más opciones según tus necesidades para Australia
                break;
            case "AUSTRIA":
                // Agregar opciones para Australia
                agregarOpcion(departamentosSelect, "TODOS", "TODOS");
                // Agregar más opciones según tus necesidades para Australia
                break;
            case "BELGICA":
                // Agregar opciones para Australia
                agregarOpcion(departamentosSelect, "TODOS", "TODOS");
                agregarOpcion(departamentosSelect, "SECCION CONSULAR DE BOLIVIA EN BELGICA, BRUSELAS", "SECCION CONSULAR DE BOLIVIA EN BELGICA, BRUSELAS");
                // Agregar más opciones según tus necesidades para Australia
                break; 
                
            case "BRASIL":
                // Agregar opciones para Australia
                agregarOpcion(departamentosSelect, "TODOS", "TODOS");
                agregarOpcion(departamentosSelect, "CONSULADO DE BOLIVIA EN BRASIL, EPITACIOLANDIA", "CONSULADO DE BOLIVIA EN BRASIL, EPITACIOLANDIA");
                agregarOpcion(departamentosSelect, "CONSULADO DE BOLIVIA EN BRASIL, CACERES", "CONSULADO DE BOLIVIA EN BRASIL, CACERES");
                agregarOpcion(departamentosSelect, "CONSULADO DE BOLIVIA EN BRASIL, CORUMBA - MS", "CONSULADO DE BOLIVIA EN BRASIL, CORUMBA - MS");
                agregarOpcion(departamentosSelect, "CONSULADO DE BOLIVIA EN BRASIL, GUAJARA MIRIM", "CONSULADO DE BOLIVIA EN BRASIL, GUAJARA MIRIM");
                agregarOpcion(departamentosSelect, "CONSULADO GENERAL DE BOLIVIA EN BRASIL, RIO DE JANEIRO", "CONSULADO DE BOLIVIA EN BRASIL, RIO DE JANEIRO");
                agregarOpcion(departamentosSelect, "CONSULADO GENERAL DE BOLIVIA EN BRASIL, SAN PABLO", "CONSULADO DE BOLIVIA EN BRASIL, SAN PABLO");
                agregarOpcion(departamentosSelect, "SECCION CONSULAR DE BOLIVIA EN BRASIL, BRASILIA", "SECCION CONSULAR DE BOLIVIA EN BRASIL, BRASILIA");
                // Agregar más opciones según tus necesidades para Australia
                break; 
            case "CANADA":
                // Agregar opciones para Australia
                agregarOpcion(departamentosSelect, "TODOS", "TODOS");
                agregarOpcion(departamentosSelect, "CONSULADO HONORARIO DE BOLIVIA EN CANADA, MONTREAL", "CONSULADO HONORARIO DE BOLIVIA EN CANADA, MONTREAL");
                agregarOpcion(departamentosSelect, "SECCION CONSULAR DE BOLIVIA EN CANADA, OTTAWA", "SECCION CONSULAR DE BOLIVIA EN CANADA, OTTAWA");
                // Agregar más opciones según tus necesidades para Australia
                break;

            case "CHILE":
                // Agregar opciones para Australia
                agregarOpcion(departamentosSelect, "TODOS", "TODOS");
                agregarOpcion(departamentosSelect, "CONSULADO DE BOLIVIA EN CHILE, ANTOFAGASTA", "CONSULADO DE BOLIVIA EN CHILE, ANTOFAGASTA");
                agregarOpcion(departamentosSelect, "CONSULADO DE BOLIVIA EN CHILE, CALAMA", "CONSULADO DE BOLIVIA EN CHILE, CALAMA");
                agregarOpcion(departamentosSelect, "CONSULADO DE BOLIVIA EN CHILE, IQUIQUE", "CONSULADO DE BOLIVIA EN CHILE, IQUIQUE");
                agregarOpcion(departamentosSelect, "CONSULADO GENERAL DE BOLIVIA EN CHILE, ARICA", "CONSULADO GENERAL DE BOLIVIA EN CHILE, ARICA");
                agregarOpcion(departamentosSelect, "CONSULADO GENERAL DE BOLIVIA EN CHILE, SANTIAGO", "CONSULADO GENERAL DE BOLIVIA EN CHILE, SANTIAGO");
                // Agregar más opciones según tus necesidades para Australia
                break; 
            case "CHINA":
                // Agregar opciones para Australia
                agregarOpcion(departamentosSelect, "TODOS", "TODOS");
                agregarOpcion(departamentosSelect, "SECCION CONSULAR DE BOLIVIA EN CHINA, BEIJING", "SECCION CONSULAR DE BOLIVIA EN CHINA, BEIJING");
                
                // Agregar más opciones según tus necesidades para Australia
                break; 
            case "COLOMBIA":
                // Agregar opciones para Australia
                agregarOpcion(departamentosSelect, "TODOS", "TODOS");
                agregarOpcion(departamentosSelect, "SECCION CONSULAR DE BOLIVIA EN COLOMBIA, BOGOTA", "SECCION CONSULAR DE BOLIVIA EN COLOMBIA, BOGOTA");
                
                // Agregar más opciones según tus necesidades para Australia
                break;
            case "COSTA RICA":
                // Agregar opciones para Australia
                agregarOpcion(departamentosSelect, "TODOS", "TODOS");
                agregarOpcion(departamentosSelect, "SECCION CONSULAR DE BOLIVIA EN COSTA RICA, SAN JOSE", "SECCION CONSULAR DE BOLIVIA EN COSTA RICA, SAN JOSE");
                
                // Agregar más opciones según tus necesidades para Australia
                break;
            case "CUBA":
                // Agregar opciones para Australia
                agregarOpcion(departamentosSelect, "TODOS", "TODOS");
                agregarOpcion(departamentosSelect, "SECCION CONSULAR DE BOLIVIA EN CUBA, LA HABANA", "SECCION CONSULAR DE BOLIVIA EN CUBA, LA HABANA");
                
                // Agregar más opciones según tus necesidades para Australia
                break;
            case "ECUADOR":
                // Agregar opciones para Australia
                agregarOpcion(departamentosSelect, "TODOS", "TODOS");
                agregarOpcion(departamentosSelect, "SECCION CONSULAR DE BOLIVIA EN ECUADOR, QUITO", "SECCION CONSULAR DE BOLIVIA EN ECUADOR, QUITO");
                
                // Agregar más opciones según tus necesidades para Australia
                break;
            case "EGIPTO":
                // Agregar opciones para Australia
                agregarOpcion(departamentosSelect, "TODOS", "TODOS");
                agregarOpcion(departamentosSelect, "SECCION CONSULAR DE BOLIVIA EN EGIPTO, EL CAIRO", "SECCION CONSULAR DE BOLIVIA EN EGIPTO, EL CAIRO");
                
                // Agregar más opciones según tus necesidades para Australia
                break;
            // Puedes agregar más casos para otros países
            case "ESPAÑA":
                // Agregar opciones para Australia
                agregarOpcion(departamentosSelect, "TODOS", "TODOS");
                agregarOpcion(departamentosSelect, "CONSULADO DE BOLIVIA EN ESPAÑA, BILBAO", "CONSULADO DE BOLIVIA EN ESPAÑA, BILBAO");
                agregarOpcion(departamentosSelect, "CONSULADO DE BOLIVIA EN ESPAÑA, MURCIA", "CONSULADO DE BOLIVIA EN ESPAÑA, MURCIA");
                agregarOpcion(departamentosSelect, "CONSULADO DE BOLIVIA EN ESPAÑA, SEVILLA", "CONSULADO DE BOLIVIA EN ESPAÑA, SEVILLA");
                agregarOpcion(departamentosSelect, "CONSULADO DE BOLIVIA EN ESPAÑA, VALENCIA", "CONSULADO DE BOLIVIA EN ESPAÑA, VALENCIA");
                agregarOpcion(departamentosSelect, "CONSULADO GENERAL DE BOLIVIA EN ESPAÑA, BARCELONA", "CONSULADO GENERAL DE BOLIVIA EN ESPAÑA, BARCELONA");
                agregarOpcion(departamentosSelect, "CONSULADO GENERAL DE BOLIVIA EN ESPAÑA, MADRID", "CONSULADO GENERAL DE BOLIVIA EN ESPAÑA, MADRID");
                agregarOpcion(departamentosSelect, "VICECONSULADO DE BOLIVIA EN ESPAÑA, GRANADA", "CONSULADO DE BOLIVIA EN ESPAÑA, GRANADA");
      
                // Agregar más opciones según tus necesidades para Australia
                break;

            case "ESTADOS UNIDOS":
                // Agregar opciones para Australia
                agregarOpcion(departamentosSelect, "TODOS", "TODOS");
                agregarOpcion(departamentosSelect, "CONSULADO GENERAL DE BOLIVIA EN EE UU, HOUSTON", "CONSULADO GENERAL DE BOLIVIA EN EE UU, HOUSTON");
                agregarOpcion(departamentosSelect, "CONSULADO GENERAL DE BOLIVIA EN EE UU, LOS ANGELES", "CONSULADO GENERAL DE BOLIVIA EN EE UU, LOS ANGELES");
                agregarOpcion(departamentosSelect, "CONSULADO GENERAL DE BOLIVIA EN EE UU, MIAMI", "CONSULADO GENERAL DE BOLIVIA EN EE UU, MIAMI");
                agregarOpcion(departamentosSelect, "CONSULADO GENERAL DE BOLIVIA EN EE UU, NEW YORK", "CONSULADO GENERAL DE BOLIVIA EN EE UU, NEW YORK");
                agregarOpcion(departamentosSelect, "CONSULADO GENERAL DE BOLIVIA EN EE UU, WASHINGTON DC", "CONSULADO GENERAL DE BOLIVIA EN EE UU, WASHINGTON DC");
                // Agregar más opciones según tus necesidades para Australia
                break;

            case "FRANCIA":
                // Agregar opciones para Australia
                agregarOpcion(departamentosSelect, "TODOS", "TODOS");
                agregarOpcion(departamentosSelect, "SECCION CONSULAR DE BOLIVIA EN FRANCIA, PARIS", "SECCION CONSULAR DE BOLIVIA EN FRANCIA, PARIS");
                
                // Agregar más opciones según tus necesidades para Australia
                break;
            case "INDIA":
                // Agregar opciones para Australia
                agregarOpcion(departamentosSelect, "TODOS", "TODOS");
                agregarOpcion(departamentosSelect, "SECCION CONSULAR DE BOLIVIA EN LA INDIA, NUEVA DELHI", "SECCION CONSULAR DE BOLIVIA EN LA INDIA, NUEVA DELHI");
                
                // Agregar más opciones según tus necesidades para Australia
                break;
            case "IRAN":
                // Agregar opciones para Australia
                agregarOpcion(departamentosSelect, "TODOS", "TODOS");
                agregarOpcion(departamentosSelect, "SECCION CONSULAR DE BOLIVIA EN IRAN, TEHERAN", "SECCION CONSULAR DE BOLIVIA EN IRAN, TEHERAN");
                
                // Agregar más opciones según tus necesidades para Australia
                break;
            case "ITALIA":
                // Agregar opciones para Australia
                agregarOpcion(departamentosSelect, "TODOS", "TODOS");
                agregarOpcion(departamentosSelect, "CONSULADO GENERAL DE BOLIVIA EN ITALIA, MILAN", "CONSULADO GENERAL DE BOLIVIA EN ITALIA, MILAN");
                agregarOpcion(departamentosSelect, "SECCION CONSULAR DE BOLIVIA EN ITALIA, ROMA", "SECCION CONSULAR DE BOLIVIA EN ITALIA, ROMA");
                
                // Agregar más opciones según tus necesidades para Australia
                break;
            case "JAPON":
                // Agregar opciones para Australia
                agregarOpcion(departamentosSelect, "TODOS", "TODOS");
                agregarOpcion(departamentosSelect, "EMBAJADA DE BOLIVIA EN JAPON, TOKIO", "EMBAJADA DE BOLIVIA EN JAPON, TOKIO");
                // Agregar más opciones según tus necesidades para Australia
                break;
            case "LIBANO":
                // Agregar opciones para Australia
                agregarOpcion(departamentosSelect, "TODOS", "TODOS");
                agregarOpcion(departamentosSelect, "CONSULADO HONORARIO DE BOLIVIA EN LIBANO, BEIRUT", "CONSULADO HONORARIO DE BOLIVIA EN LIBANO, BEIRUT");
                // Agregar más opciones según tus necesidades para Australia
                break;
            case "MEXICO":
                // Agregar opciones para Australia
                agregarOpcion(departamentosSelect, "TODOS", "TODOS");
                agregarOpcion(departamentosSelect, "SECCION CONSULAR DE BOLIVIA EN MEXICO, DF MEXICO", "SECCION CONSULAR DE BOLIVIA EN MEXICO, DF MEXICO");
                // Agregar más opciones según tus necesidades para Australia
                break;
            case "NICARAGUA":
                // Agregar opciones para Australia
                agregarOpcion(departamentosSelect, "TODOS", "TODOS");
                agregarOpcion(departamentosSelect, "EMBAJADA DE BOLIVIA EN NICARAGUA, MANAGUA", "EMBAJADA DE BOLIVIA EN NICARAGUA, MANAGUA");
                // Agregar más opciones según tus necesidades para Australia
                break;
            case "PAISES BAJOS":
                // Agregar opciones para Australia
                agregarOpcion(departamentosSelect, "TODOS", "TODOS");
                agregarOpcion(departamentosSelect, "SECCION CONSULAR DE BOLIVIA EN PAISES BAJOS, LA HAYA", "SECCION CONSULAR DE BOLIVIA EN PAISES BAJOS, LA HAYA");
                // Agregar más opciones según tus necesidades para Australia
                break;
            case "PANAMA":
                // Agregar opciones para Australia
                agregarOpcion(departamentosSelect, "TODOS", "TODOS");
                agregarOpcion(departamentosSelect, "SECCION CONSULAR DE BOLIVIA, PANAMA", "SECCION CONSULAR DE BOLIVIA, PANAMA");
                // Agregar más opciones según tus necesidades para Australia
                break;
            case "PARAGUAY":
                // Agregar opciones para Australia
                agregarOpcion(departamentosSelect, "TODOS", "TODOS");
                agregarOpcion(departamentosSelect, "SECCION CONSULAR DE BOLIVIA EN PARAGUAY, ASUNCION", "SECCION CONSULAR DE BOLIVIA EN PARAGUAY, ASUNCION");
                // Agregar más opciones según tus necesidades para Australia
                break;
            case "PERU":
                // Agregar opciones para Australia
                agregarOpcion(departamentosSelect, "TODOS", "TODOS");
                agregarOpcion(departamentosSelect, "CONSULADO DE BOLIVIA EN PERU, CUSCO", "CONSULADO DE BOLIVIA EN PERU, CUSCO");
                agregarOpcion(departamentosSelect, "CONSULADO DE BOLIVIA EN PERU, ILO", "CONSULADO DE BOLIVIA EN PERU, ILO");
                agregarOpcion(departamentosSelect, "CONSULADO DE BOLIVIA EN PERU, PUNO", "CONSULADO DE BOLIVIA EN PERU, PUNO");
                agregarOpcion(departamentosSelect, "CONSULADO DE BOLIVIA EN PERU, TACNA", "CONSULADO DE BOLIVIA EN PERU, TACNA");
                agregarOpcion(departamentosSelect, "CONSULADO GENERAL DE BOLIVIA EN PERU, LIMA", "CONSULADO GENERAL DE BOLIVIA EN PERU, LIMA");
                // Agregar más opciones según tus necesidades para Australia
                break;
            case "REINO UNIDO DE GRAN BRETAÑA E IRLANDA DEL NORTE":
                // Agregar opciones para Australia
                agregarOpcion(departamentosSelect, "TODOS", "TODOS");
                agregarOpcion(departamentosSelect, "SECCION CONSULAR DE BOLIVIA EN GRAN BRETAÑA, LONDRES", "SECCION CONSULAR DE BOLIVIA EN GRAN BRETAÑA, LONDRES");
                // Agregar más opciones según tus necesidades para Australia
                break;
            case "REPUBLICA DE COREA":
                // Agregar opciones para Australia
                agregarOpcion(departamentosSelect, "TODOS", "TODOS");
                agregarOpcion(departamentosSelect, "SECCION CONSULAR DE BOLIVIA EN COREA DEL SUR, SEUL", "SECCION CONSULAR DE BOLIVIA EN COREA DEL SUR, SEUL");
                // Agregar más opciones según tus necesidades para Australia
                break;
            case "REPUBLICA DOMINICANA":
                // Agregar opciones para Australia
                agregarOpcion(departamentosSelect, "TODOS", "TODOS");
                agregarOpcion(departamentosSelect, "CONSULADO HONORARIO DE BOLIVIA EN REP. DOMINICANA, SANTO DOMINGO", "CONSULADO HONORARIO DE BOLIVIA EN REP. DOMINICANA, SANTO DOMINGO");
                // Agregar más opciones según tus necesidades para Australia
                break;

            case "RUSIA":
                // Agregar opciones para Australia
                agregarOpcion(departamentosSelect, "TODOS", "TODOS");
                agregarOpcion(departamentosSelect, "SECCION CONSULAR DE BOLIVIA EN RUSIA, MOSCU", "SECCION CONSULAR DE BOLIVIA EN RUSIA, MOSCU");
                // Agregar más opciones según tus necesidades para Australia
                break;
            case "SUECIA":
                // Agregar opciones para Australia
                agregarOpcion(departamentosSelect, "TODOS", "TODOS");
                agregarOpcion(departamentosSelect, "SECCION CONSULAR DE BOLIVIA EN SUECIA, ESTOCOLMO", "SECCION CONSULAR DE BOLIVIA EN SUECIA, ESTOCOLMO");
                // Agregar más opciones según tus necesidades para Australia
                break;
            case "SUIZA":
                // Agregar opciones para Australia
                agregarOpcion(departamentosSelect, "TODOS", "TODOS");
                agregarOpcion(departamentosSelect, "CONSULADO GENERAL DE BOLIVIA EN SUIZA, GINEBRA", "CONSULADO GENERAL DE BOLIVIA EN SUIZA, GINEBRA");
                // Agregar más opciones según tus necesidades para Australia
                break;
            case "TURKIYE":
                // Agregar opciones para Australia
                agregarOpcion(departamentosSelect, "TODOS", "TODOS");
                agregarOpcion(departamentosSelect, "SECCION CONSULAR DE LA EMBAJADA DE BOLIVIA EN TURKIYE, ANKARA", "SECCION CONSULAR DE LA EMBAJADA DE BOLIVIA EN TURKIYE, ANKARA");
                // Agregar más opciones según tus necesidades para Australia
                break;

            case "URUGUAY":
                // Agregar opciones para Australia
                agregarOpcion(departamentosSelect, "TODOS", "TODOS");
                agregarOpcion(departamentosSelect, "SECCION CONSULAR DE BOLIVIA EN URUGUAY, MONTEVIDEO", "SECCION CONSULAR DE BOLIVIA EN URUGUAY, MONTEVIDEO");
                // Agregar más opciones según tus necesidades para Australia
                break;
            case "VENEZUELA":
                // Agregar opciones para Australia
                agregarOpcion(departamentosSelect, "TODOS", "TODOS");
                agregarOpcion(departamentosSelect, "SECCION CONSULAR DE BOLIVIA EN VENEZUELA, CARACAS", "SECCION CONSULAR DE BOLIVIA EN VENEZUELA, CARACAS");
                // Agregar más opciones según tus necesidades para Australia
                break;
                
            // Puedes agregar un caso predeterminado o un mensaje de error si es necesario
        }
    }

    function agregarOpcion(select, valor, texto) {
        var option = document.createElement("option");
        option.value = valor;
        option.text = texto;
        select.add(option);
    }
</script>
<!------------------------MENSAJE DE EXITO DESPUES DE EDITAR-------------------------->

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>-
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/nprogress/0.2.0/nprogress.js"></script>

<script src="{{ url_for('static', filename='js/subir.js') }}"></script>
<!-------------------------------------------->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<footer>
    <div class="footer-container">
        <div class="footer-content-container">
            <div class="website-logo text-center">
                <img class="min" src="{{ url_for('static', filename='img/min.png') }}" width="430px" height="110px"> <br>
           </div>
        </div>
        <div class="footer-menus">
            <div class="footer-content-container">
                <span class="menu-title">Contactos</span>
                <a href="#" class="menu-item-footer">
                    <i class="fab fa-whatsapp ic"></i>
                   000-000-00
                </a>
                <a href="#" class="menu-item-footer">
                    <i class="fab fa-whatsapp ic"></i>
                   000-000-00
                </a>
                <a href="#" class="menu-item-footer">
                    <i class="far fa-envelope ic"></i>        
                    000-000-00
                </a>
            </div>
            <div class="footer-content-container">
                <span class="menu-title mid">D G A C</span>
                <a href="#" class="menu-item-footer">Sistema de Repositorio <br> de Reportes Realizados</a>
                <a href="#" class="menu-item-footer">MRE-DGAC-SRRR</a>
            </div>
        </div>
        
        <div class="footer-content-container">
            <span class="menu-title">Dev</span>
            <a href="#" class="menu-item-footer">Gabriel OMC</a>
            <a href="#" class="menu-item-footer">
                <i class="fab fa-whatsapp ic"></i>
               78819752
            </a>
            <a href="#" class="menu-item-footer">
                <i class="far fa-envelope ic"></i>        
                gs59679@gmail.com
            </a>
        </div>
    </div>
    <div class="copyright-container">
        <span class="copyright">Copyright 2024, MRE-DGAC - Todos los Derechos Reservados</span>
    </div>
</footer>
</body>
</html>